# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.db
.sqlite3

# Variables de entorno (¡MUY IMPORTANTE!)
.env
backend/.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build de React
frontend/dist/
frontend/build/

# Editores
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db